RAW_DATA_DIR=./data/raw
INTERIM_DATA_DIR=./data/interim
PROCESSED_DATA_DIR=./data/processed
BUSINESS_RULES_PATH=./data/external/regras_negocio/Alarmes - Regra de Negocio.xlsx
DATA_DICTIONARY_PATH=./data/external/dicionario/Dicionario_Dados.xlsx
MODEL_DIR=./models
REPORT_DIR=./reports
RISK_THRESHOLD=0.50
